{% load static %}
<header class="topbar">
  <span></span>
  <button id="mode-toggle" class="btn">Toggle</button>
  <div class="user-profile">
    {% if user.profile_photo_url %}
    <img src="{{ user.profile_photo_url }}" alt="User Profile" />
    {% else %}
    <img
      src="{% static 'icons/default_user.png' %}"
      alt="User Profile"
    />
    {% endif %}
    <span>{{ user.full_name }}</span>
  
    <form method="get" action="{% url 'accounts:logout_confirm' %}">
      <button type="submit" class="btn-logout">LOGOUT</button>
    </form>
  </div>
</header>